/*Шрифты*/

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'), url('../fonts/helveticaneue-thin-webfont.woff') format('woff'), url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, sans-serif;
}
body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    position: static;
    background: url("../img/fon.jpg") no-repeat;
    background-position: center top;
    background-color: #085699;
    background-size: cover;
}
ul {
    list-style: none;
}
header {
    line-height: 38px;
    background-color: #085699;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Меню*/

.menu * {
    display: inline-block;
}
.menu {
    float: right;
}
.menu_links {
    padding-right: 20px;
}
.menu_links a {
    color: #60b5ed;
    padding: 0 8px 0;
    text-decoration: none;
}
.menu_links a:hover {
    background: #4eabda;
    color: white;
}
.menu_text {
    padding: 0 19px 0;
    color: white;
    border-left: 1px solid #56a2dc;
}
.menu_text img {
    vertical-align: middle;
}
.menu_signin {
    padding: 0 12px;
    margin-right: 20px;
    background: linear-gradient(to top, #2e7ac4, #51b1dc);
    border left: 1px solid #4f9fd9;
    border right: 1px solid #4f9fd9;
    box-sizing: border-box;
    color: white;
}
.menu_signin a {
    color: white;
    padding-left: 7px;
    text-decoration: none;
}
.menu_signin a:hover {
    text-decoration: underline;
}

/*Форма входа*/

.main_form {
    position: relative;
    margin: 100px auto;
    width: 550px;
    text-align: center;
}
.form_header {
    background: rgba(0, 0, 0, 0.63);
    color: #fff;
    padding: 15px;
    margin-bottom: 2px;
}
.form_header h2 {
    font-size: 24px;
    letter-spacing: 1px;
}
.form_footer {
    padding-top: 35px;
    background: rgba(0, 0, 0, 0.63);
}
input[type="image"] {
    width: 275px;
    height: 35px;
    border-radius: 5px;
}
.facebook:hover {
    box-shadow: 0 0 10px 3px rgba(104, 155, 204, 0.7);
}
.login {
    float: left;
    padding: 7px 15px;
    border-left: 1px solid #4d66a6;
}
.ou {
    font-size: 14px;
    color: rgb( 153, 153, 153);
    line-height: 1.143;
    text-align: center;
    margin: 30px 0 30px 0;
}
.ou:before {
    display: inline-block;
    width: 120px;
    margin: 0 5px 3px 0;
    content: "";
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
}
.ou:after {
    display: inline-block;
    width: 120px;
    margin: 0 0 3px 5px;
    content: "";
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
}
input[type="text"], [type="email"], [type="password"] {
    display: block;
    margin: 15px auto;
    width: 275px;
    height: 35px;
    background-color: #101010;
    border: none;
    border-bottom: 1px solid #484847;
    text-indent: 18px;
    color: #fff;
}
input {
    background: black;
    color: #4e9dd5;
}
input:focus, input:hover {
    background-color: #1b5288;
    box-shadow: 0 0 7px 2px #4d87b2;
}
.checkbox {
    margin: 0 140px;
    color: #c4c4c3;
    text-align: left;
}
.account {
    margin: 20px 0;
    height: 35px;
    background-image: linear-gradient(#4faddb, #2e7ac4);
    color: #cccccc;
    border: none;
    border-radius: 3px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
.account:hover {
    -webkit-box-shadow: 1px 2px 24px 3px rgba(12, 58, 138, 1);
    -moz-box-shadow: 1px 2px 24px 3px rgba(12, 58, 138, 1);
    box-shadow: 1px 2px 24px 3px rgba(12, 58, 138, 1);
    background: #2e7ac4;
}
.account:active {
    -webkit-box-shadow: 1px 2px 24px 3px rgba(12, 58, 138, 1);
    -moz-box-shadow: 1px 2px 24px 3px rgba(12, 58, 138, 1);
    box-shadow: 1px 2px 24px 3px rgba(12, 58, 138, 1);
    background: rgba(12, 58, 138, 1);
}
.main_form p {
    font-size: 11px;
    margin: 0 125px;
    padding-bottom: 20px;
    color: #ccc;
}
