* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, sans-serif;
}
html, body {
    height: 100%;
}
body {
    background: url(../img/bgrnd1px.png) repeat-x;
    background-color: #0c739f;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.wraper {
    display: table;
    height: 100%;
    margin: 0 auto;
    width: 1000px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8)
}

/*site page*/

.page {
    display: table-row;
    height: 100%;
}

/*logo*/

.logo {
  padding: 11px 0 0 28px;
  line-height: 0;
    float: left;
}

.logo p {
  width: 120px;
  position:relative;
top: -40px;
left: 70px;
}

.logo a{
  font-size: 12px;
  color: #128aa7;
}

/*Contacts*/

.contact {
    margin-top: 10px;
    float: right;
    width: 156px;
    font-size: 12px;
    color: #128aa7;
}
.contact h4 {
    padding-bottom: 5px;
    font-size: 12px;
}
.contact a {
    line-height: 20px;
    color: #128aa7;
}
.contact img {
    vertical-align: middle;
    padding-right: 5px;
}

/*Flagi stran*/

.country {
    margin: 23px 27px 5px 0;
    float: right;
    clear: right;
}
.country img {
    text-align: center;
}
.country li {
    width: 53px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.country span {
    display: block;
    font-size: 10px;
    color: #128aa7;
    text-decoration: underline;
}

/*main photo*/

.promo {

    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
    line-height: 0;
}

.menu {
    position: relative;
    background: linear-gradient(to bottom, rgb(55, 55, 55) 0%, rgb(48, 48, 48) 100%);
    width: 100%;
    border-bottom: 1px solid black;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 2;
    box-sizing: border-box;
    z-index: 1;
}
.menu li {
    float: left;
    position: relative;
    font-size: 14px;
}
.menu a {
    color: #d5d5d5;
    padding: 6px 35px 7px;
    text-decoration: none;
    display: block;
}
.menu ul {
    display: none;
}
.menu :hover ul {
    display: block;
    position: absolute;
    top: 30px;
    background-color: #303030;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 1000;
}
.menu :hover li {
    float: none;
    width: 150px;
}
.menu :hover a {
    display: block;
    color: #d5d5d5;
    text-decoration: none;
}

/*content*/

.news {
    width: auto;
    color: #424c43;
    line-height: 24px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
}
.news h4 {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}
.news_left, .news_right {
    padding: 15px 20px;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
    width: 210px;
    background-color: #edeef0;
    box-sizing: border-box;
    margin-bottom: -100500px;
    padding-bottom: 100500px;
}
.news_left {
    float: left;
}
.news_right {
    float: right;
}
.news_middle {
  padding-top: 10px;
  margin: 0 auto;
  width:  55%;
}
.footer {
    line-height: 30px;
}
.footer p {
    color: #cee3ec;
    font-size: 12px;
    text-align: center;
}
.footer a {
    color: #cee3ec;
    text-decoration: none;
}
