/*Front*/

@font-face {
    font-family: OpenSans;
    src: url("../font/OpenSans.ttf");
}

/*Main page*/

html, body {
    height: 100%;
}
body {
    background-color: green;
    font-family: OpenSans;
}

/*Page content*/

.wraper {
    display: table;
    height: 100%;
    margin: 0 auto;
    padding: 0 45px;
    width: 965px;
    background-color: #ffffff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, .3), -23px 0 20px -30px rgba(0, 0, 0, .8), 23px 0 20px -30px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}
.page {
    display: table-row;
    height: 100%;
}

/*Logo*/

.header img {
    margin-bottom: 40px;
}

/*Header*/

.header {
    padding-top: 50px;
    margin-bottom: 40px;
}

/*Header menu*/

.menu:after {
    content: "";
    display: table;
    clear: both;
}
.menu {
    background: rgba(94, 94, 94, 1);
    background: -moz-linear-gradient(top, rgba(94, 94, 94, 1) 0%, rgba(68, 67, 67, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94, 94, 94, 1)), color-stop(100%, rgba(68, 67, 67, 1)));
    background: -webkit-linear-gradient(top, rgba(94, 94, 94, 1) 0%, rgba(68, 67, 67, 1) 100%);
    background: -o-linear-gradient(top, rgba(94, 94, 94, 1) 0%, rgba(68, 67, 67, 1) 100%);
    background: -ms-linear-gradient(top, rgba(94, 94, 94, 1) 0%, rgba(68, 67, 67, 1) 100%);
    background: linear-gradient(to bottom, rgba(94, 94, 94, 1) 0%, rgba(68, 67, 67, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#444343', GradientType=0);
}
.menu li {
    float: left;
}
.menu a {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: -2px 1px 2px rgba(0, 0, 0, 1);
    display: block;
    color: white;
    line-height: 40px;
    width: 55px;
    padding: 0 42px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
  }
.menu a:hover {
    background: rgba(74, 74, 74, 1);
    background: -moz-linear-gradient(top, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74, 74, 74, 1)), color-stop(100%, rgba(46, 46, 46, 1)));
    background: -webkit-linear-gradient(top, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
    background: -o-linear-gradient(top, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
    background: -ms-linear-gradient(top, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
    background: linear-gradient(to bottom, rgba(74, 74, 74, 1) 0%, rgba(46, 46, 46, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2e2e2e', GradientType=0);
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}

/*Left menu*/

.leftmenu {
    float: left;
    width: 249px;
    border: 1px solid #c8c8c8;
}
.leftmenu a {
    display: block;
    color: #656363;
    line-height: 40px;
    padding-left: 23px;
    text-decoration: none;
    font-size: 15px;
}
.leftmenu a:hover {
    background: #f9f9f9;
    color: #2c2c2c;
    padding-left: 35px;
}
.leftmenu li {
    border-bottom: 1px solid #c8c8c8;
}
.leftmenu li:last-child {
    border-bottom: none;
}

/*Container*/

.container:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    float: right;
    width: 675px;
}
.description {
    line-height: 21px;
    font-size: 15px;
    padding: 40px 20px;
}
.content-photo {
    border: 1px solid #c8c8c8;
    text-align: center;
    padding: 40px 0;
    color: #2c2c2c;
}
.content-photo img {
    margin: 0 auto;
    text-align: center;
}

/*Footer*/

.footer {
    padding: 50px 0;
}

/*Footer menu*/

.f_link:after {
    content: "";
    display: table;
    clear: both;
}
.f_link {
    background: #e1e1e1;
}
.f_link li {
    float: left;
    line-height: 40px;
}
.f_link a {
    display: block;
    color: #595959;
    padding: 0 47px;
    text-decoration: none;
    font-size: 15px;
}
.f_link a:hover {
    text-decoration: underline;
}
.f_link p {
    color: #595959;
    padding-left: 120px;
}
