body {
    text-align: center;
}

.container {
    margin: 0 auto;
    margin-top: 30px;
    width: 800px;
}

#time {
    display: inline-block;
    font-size: 85px;
}

#sec {
    width: 120px;
    display: inline-block;
    font-size: 50px;
}

button:hover {
    cursor: pointer;
}

#output {
    width: 800px;
    border: 15px solid black;
    border-radius: 30px;
    background-color: rgb(146, 233, 236);
    color: black;
    font-weight: bold;
}

#startPause, #reset {
    background-color: rgb(196, 121, 7);
    margin-top: 15px;
    border: 7px solid black;
    border-radius: 20px;
}

#startPause {
    display: inline-block;
    float: left;
    margin-left: 200px;
}

#reset {
    display: inline-block;
    float: right;
    margin-right: 200px;
}

#start, #clear {
    font-weight: bold;
    font-size: 25px;
    color: black;
}
